<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %> 
    <title>Customer Dashboard</title>
    <link rel="icon" href="images/companyicon.png">
    <link rel="stylesheet" href="/stylesheets/landingpage.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/dashboards.css">

</head>

<body class="body-styles">

    <div class="navbar sticky-top">

        <div class="logo">
            <img src="/images/logo.png" alt="logo">
        </div>

        <div class="navlinks">
            <a href="/">Home</a>
            <a href="#">Customer Dashboard</a>
            <a href="/logout">Log Out (<%= type %> )</a>
        </div>
    </div>
    <div class="content">
        <div class="row">
         <div class="col">
                <!-- <div class="row box">
                    <div class="order-links">
                        <a href="/customer/order">Place an order!</a>
                    </div>
                </div> -->
                <div class="cust-details box">
                    <h4 class="headings">Your Details</h4>
                    <span class="muted">Name :</span><%= custDetails[0].name %>
                    <span class="muted">Mobile No. :</span><%= custDetails[0].mob_no %> <br> 
                    <span class="muted">Shipping Address :</span><%= custDetails[0].shipping_address %> <br> 
                </div>
                <!-- <div class="row box">
                    <div class="update-address">
                        
                    </div>
                </div> -->

            </div>
            <div class="col box">
                <div class="your-orders">
                    <%- include('partials/custpastorders', {custOrders : custOrders}) %> 
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="ongoing-orders box" style="width: 100%;">
                <h3 class="headings">Ongoing Orders</h3>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Order ID</th>
                            <th>Product</th> 
                            <th>Quantity</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        <% custOrders.forEach(ord => { %>
                            <% if (ord.status != 'recieved') { %>
                            <tr>
                                <td><%= ord.order_id %></td>
                                <td><%= ord.name %></td>
                                <td><%= ord.qty %></td>
                                <td><%= ord.status %></td>
                                <td><button class="btn btn-outline-primary btn-sm recieve-button">Recieved</button></td>
                            </tr>
                            <% } %>
                        <% }); %>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <%- include('partials/footerscripts') %> 
    <form action="/customer/markrecieved" method="post" class="submit-recieve">
        <input type="hidden" class="orderid" name="orderid">
    </form>
    <script>
        document.body.onload = () => {
            document.querySelectorAll('.recieve-button').forEach(button => {
                button.addEventListener('click', ()=>{
                    let orderid = button.parentElement.parentElement.firstElementChild.innerText;
                    // console.log(orderid);
                    document.querySelector('form.submit-recieve .orderid').value = orderid;
                    document.querySelector('form.submit-recieve').submit();
                });
            });
        }
    </script>
</body>

</html>