<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
        <title>Order Products</title>
        <link rel="icon" href="/images/companyicon.png">
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/orderproducts.css">

</head>

<body class="body-styles">

    <div class="navbar sticky-top">
        <div class="logo">
            <img src="/images/logo.png" alt="logo">
        </div>
        <div class="navlinks">
            <a href="/">Home</a>
            <div class="dropdown">
                <a href="/logout">Logout</a>
            </div>
            
        </div>
    </div>

    <div class="heading">
        Order from our wide range of products!
    </div>

    <section class="products-list">
        
        <% for (let i = 0; i < products.length; i++) { %>
            <div class="card">
                <div class="prodimage">
                    <img src= <%= products[i].imglink %> alt="photopaper">
                </div>  
                <div class="prodtitle">
                    <%= products[i].name %>
                </div>
                
                <div class="proddesc">
                    <%= products[i].details%>
                </div>
                <div class="proddetails">
                    <div class="prodstock">
                        Stock: <span><%= products[i].stock %></span>
                    </div>
                    <div class="prodprice">
                        Rs. <span><%= products[i].rate %></span>
                    </div>
                </div>

                <div class="orderbutton">
                    <button onclick = "createOrder('<%= products[i].prod_id %>')">Order Now!
                    </button>
                </div>
            </div>
        <% } %>

    </section>

    <%- include('partials/footerscripts') %>

    <script src="/javascripts/orderprocess.js"> </script>

</body>



</html>